{% extends '@Contao/be_main.html.twig' %}
{% trans_default_domain 'loki' %}

{% block main_content %}
    <script>
        window.loki_fields = `{{ fields|json_encode|raw }}`;
    </script>

    <div class="progress prompts">
        <div class="status pending"><span class="completed">0</span>/{{ fields|length }} {{ 'loki.fields_edit'|trans }}</div>
    </div>

    <div class="errors invisible">
        <p><span class="error-count">0</span> {{ 'loki.errors'|trans }}</p>
        <div class="error-messages"></div>
    </div>
{% endblock %}