.prompts.progress .status {
    &:before {
        content: '';
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        margin-right: 8px;
    }

    &.pending:before {
        /* webpackIgnore: true */
        background-image: url('/system/themes/flexible/icons/loading.svg');
    }

    &.complete:before {
        /* webpackIgnore: true */
        background-image: url('/system/themes/flexible/icons/ok.svg');
    }
}

.plenta-loki-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.plenta-loki-box {
    flex: 50%;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            color: var(--contao, #f47c00);
        }
    }

    &:last-child {
        text-align: right;
    }
}

html[data-color-scheme="dark"] {
    .plenta-box a {
        color: var(--blue, #0073ab);

        &:hover {
            color: var(--contao, #f47c00);
        }
    }
}
