.plenta-loki-ai-run-prompt {

    .prompts.progress, .errors, .warnings {
        padding: 12px;
    }

    .prompts.progress {
        background: var(--panel-bg);
        border-bottom: 1px solid var(--content-border, #414448);

        .status {
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: bold;

            &:before {
                content: '';
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: inline-block;
                margin-right: 16px;
            }

            &.pending:before {
                /* webpackIgnore: true */
                background-image: url('/system/themes/flexible/icons/loading.svg');
            }

            &.complete:before {
                /* webpackIgnore: true */
                background-image: url('/system/themes/flexible/icons/ok.svg');
            }
        }
    }
    .error-header {
        margin-bottom: 12px;
    }

    .error-messages {
        .error-message {
            word-break: break-word;
            margin: 0;
            padding: 8px;
            border-top: 1px solid var(--content-border, #414448);

            &:last-child {
                border-bottom: 1px solid var(--content-border, #414448);
            }

            &:nth-child(even) {
                background: var(--panel-bg);
            }

            p {

            }
        }
    }
}



.plenta-loki-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.plenta-loki-box {
    flex: 50%;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
            color: var(--contao, #f47c00);
        }
    }

    &:last-child {
        text-align: right;
    }
}

html[data-color-scheme="dark"] {
    .plenta-box a {
        color: var(--blue, #0073ab);

        &:hover {
            color: var(--contao, #f47c00);
        }
    }
}
