.loki-prompt-button {
    display: inline-block;
    vertical-align: middle;

    button {
        border: none;
        text-decoration: none !important;
        outline: none;
        appearance: none;
        text-align: left;
        padding: 0;
        margin-left: 0.2em;
        width: 0.875rem;
        height: 0.875rem;
        display: inline-block;
        background-color: var(--blue, #006494);
        border-radius: 0.2rem;
        position: relative;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none !important;
            background-image: none;
            background-position: 0;
            background-color: var(--contao, #f47c00);
        }

        &:after {
            content: '';
            width: 80%;
            height: 80%;
            display: block;
            position: absolute;
            background-image: url('/assets/images/wand-sparkles.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            filter: invert(1);
        }

        &.loading {
            @keyframes rotate-loki-button {
                to {
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }

            &:after {
                background-image: url('/assets/images/loader-circle.svg');
                animation: rotate-loki-button 1s linear infinite;
            }
        }
    }
}

dialog {
    &.plenta-loki-error.simple-modal {
        max-width: 900px;
        width: 100%;
        max-height: 100%;
        box-sizing: border-box;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        padding: 0;

        .simple-modal-header {
            padding-right: 30px;

            button {
                border: none;
                outline: none;
                background-color: transparent;
                appearance: none;
                text-align: left;
                padding: 0;
                position: absolute;
                right: 10px;
                top: 19px;
                color: #999;
                font-family:
                    -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
                    sans-serif;
                font-size: 30px;
                font-weight: 400;
                line-height: 10px;
                text-decoration: none;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none !important;
                    background-image: none;
                    background-position: 0;
                }
            }
        }

        .simple-modal-body {
            padding: 18px 12px;
            line-height: 1.4em;
        }

        &::backdrop {
            background-color: rgb(0 0 0 / 70%);
        }
    }
}
